{% extends 'parent.html.twig' %}

{% block body %}
    <h1>Hello</h1>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/myAssets/style.css') }}" />
{% endblock %}

